.header-color
{

  background: #CB356B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #BD3F32, #CB356B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #BD3F32, #CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.landing-grid
{
  background: #d9a7c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fffcdc, #d9a7c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fffcdc, #d9a7c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

text-align: center;
position: fixed;
top:50px;
left:0;
height:100%;
width:100%;
  }

  .contact-body
  {
      margin:auto;
     
      position: fixed;
      width:100%;
      height: 100%;
      justify-content:center;
      padding-top: 2em;
    }

    .contact-grid
    {
        text-align: center;
        justify-content: center;
        width:80%;
        height:500px;
        
        color:black;
       
        margin-bottom: 20px;



    }

    .contact-grid hr
    {

    border-top:6px dotted red;
    width: 50%;
    margin:auto;

    }
  .contact-list i
  {
      font-size: 50px;
      padding-right: 30px;


  }
 
  .experience h5
  {
    font-weight: bolder;
    font-family: arial;
    color: blue;
    text-decoration-line: underline;


  }
  .experience-div a
  {
      text-align: center;
      color:blue;
      text-decoration: none;

  }
.experience h6
{
  
  text-align: justify;

}
.experience-div i
  {
      font-size: 30px;
      padding-right: 30px;
      text-align: center;


  }


  

.profile-pic
{
    height:250px;
    margin-left:50px;



}


.profile-text
{
  background-color: black;
  opacity:.8;
  width:35%;
  margin: auto;
  border-radius: 10px;

}

.profile-text h1
{
    font-size: 40px;
    font-weight: bold;
    color:#C70039;
    text-align: center;


}

.profile-text hr
{
    width:50%;
    border-top:2px dotted white;
    margin:auto;


}

.projects-name a
{

  text-decoration: none;
  color:black;
}

.profile-text p{

    color:white;
    font-size: 20px;
    padding:2px;


}

.social-links
{

  display: flex;
  justify-content: space-between;
  width:50%;
  margin:auto;


}

.social-links i{
  
  font-size: 5em;
  padding: 5px;
  color:#C70039;
}